{{!< layout}}

<h1>Postsssssss!</h1>


{{#foreach posts}}
    <article>
        <h2><a href="{{url}}">{{title}}</a><small> by {{author}}</small></h2>
        <p class="content">
            {{excerpt}}
            <a href="{{url}}">&hellip; Read More</a>
        </p>
        <footer>
            <small>
                {{tags prefix="Tagged with: " separator=" | "}}
            </small>
            <small class="pull-right">
                Published on {{date format="YYYY-MM-DD"}}
            </small>
        </footer>
    </article>
{{/foreach}}
