<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{meta_title}}</title>
    
    {{! Bootstrap}}
    
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{meta_title}}</title>
    
    {{! Bootstrap}}
   
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'> 
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="{{asset 'css/style.css'}}">
    
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    
    <main>{{{body}}}</main>

    
    {{ghost_foot}}
    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</script>
</body>
</html>
